<body bgcolor="yellow">
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
</body>
