<body bgcolor="skyblue">
<H1>  Heloooooooooooooo   </h1>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
	<input>
</body>
